---
// Simple redirect page for Netlify Identity
---

<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    <p>Redirecting to admin...</p>
    
    <script>
        // Handle Netlify Identity redirect
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on('init', function(user) {
                if (user) {
                    // User is logged in, go to admin
                    window.location.href = '/admin';
                } else {
                    // No user, go to admin login
                    window.location.href = '/admin';
                }
            });
        } else {
            // Fallback - just go to admin
            setTimeout(function() {
                window.location.href = '/admin';
            }, 1000);
        }
    </script>
</body>
</html> 