---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import EquipmentOverview from '../components/EquipmentOverview.astro';
---

<Layout title="Welcome to Custom Climates">
	<main>
		<Hero />
		<EquipmentOverview />
		<!-- Other sections will go here -->
	</main>
</Layout>
