---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Custom Climates">
	<main class="h-screen bg-gray-900 flex items-center justify-center">
		<h1 class="text-5xl font-bold text-white">Custom Climates</h1>
		<p class="text-xl text-gray-400 mt-4">New site coming soon...</p>
	</main>
</Layout>
