---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const { 
	title, 
	description = 'Onsite climate controlled solutions for any jobsite. 24/7 emergency deployment serving all 50 states.' 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-900 text-white">
		<Header />
		<slot />
		<Footer />
	</body>
</html> 